$mainOffset: 15; // отступы безопасности для контейнера
$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$containerWidth: 1200; // ширина контейнера из макета
$maxWidthContainer: $containerWidth + ($mainOffset * 2); // ширина контейнера с учетом padding слева и справа

$headerHeight: 80;
$footerHeight: 100;

:root {
  --bs-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; // Семейство шрифта по умолчанию
  --bs-font-size: 16px; // Размер шрифта по умолчанию
  --bs-font-weight: 400; // Жирность шрифта по умолчанию
  --bs-line-height: 1; // Базовая высота шрифта
  --bs-font-color: #000043; // Цвет шрифта по умолчанию
  --bs-transition: .3s ease-in-out;
  --bs-radius: 10px;

  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --white-color: #FBFCFF;
  --black-color: #000043;


  --bs-shadow: 5px 4px 15px 0px #D5DBEB;
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%),
                  0 0 10px 0 rgba(#000, 10%),
                  0 0 15px 0 rgba(#000, 10%);
}